.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.float-ig {
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#E1306C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float-ig:hover {
	text-decoration: none;
	color: #E1306C;
  background-color:#fff;
}

.my-float-ig{
	margin-top:15px;
}

.float-f {
	position:fixed;
	width:60px;
	height:60px;
	bottom:200px;
	right:40px;
	background-color:#4267B2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float-f:hover {
	text-decoration: none;
	color:#4267B2;
  background-color:#fff;
}

.my-float-f{
	margin-top:15px;
}